html,body, {
  height: 100%;
  margin: 0;
  padding: 0;
}
div {
  margin: 0;
  padding: 0;
}
img {
  max-width: 95%;
}
h3:first-of-type {
  margin-bottom: 0;
}
.property {
  padding-left: 1em;
  height: 23em;
  background: #fdfdfd;
  border: 1px solid #cfcfcf;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
}
